<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/forming.css}" rel="stylesheet" />
    <link th:href="@{/css/buttons.css}" rel="stylesheet" />
</head>
<body>
<a th:insert="navBar :: bar">
</a>
<div class="formType" style="width: 450px">

    <form th:method="POST" th:action="@{/admin/users}" th:object="${user}">

        <label for="userName">Enter username: </label>
        <input type="text" th:field="*{username}" id="userName"/>
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">ERROR NAME</div>
        <br>
        <label for="password">Enter password: </label>
        <input type="text" th:field="*{password}" id="password"/>
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">ERROR NAME</div>
        <br>
        <br>

        <input class="inputType" type="submit" value="Create"/>
    </form>
</div>


</body>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/jquery/jquery.min.js}"></script>
</html>